h1{
    text-align: center;
}
#myInput{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid gray;
}
.search{
    text-align: center;
}


#myTable{
display: block;
margin-left: auto;
margin-right: auto;
width: 700px;
border: 1px solid gray;
font-size: 20px;
text-align: center;
}
#myTable th{
    background-color: brown;
    color: white;
}
#myTable td{
    padding: 8px;
}
#myTable tr:hover{
    background-color: gray;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}